<div class="container w-100 h-100 p-0">
    <header class="w-100 bg-secondary d-flex flex-row justify-content-start align-items-center">
        <ul>
            <li><a routerLink="home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
            <li><a routerLink="email" routerLinkActive="active">Email</a></li>
            <li><a routerLink="map" routerLinkActive="active">Map</a></li>
        </ul>
    </header>
    <section class="bg-success w-100">
        <router-outlet>
        </router-outlet>
    </section>
</div>